<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield( :title )) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Sample App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!--[if lt IE9]>
      <script src="//cdnjs.cloudfare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li data-testid="nav-link-home"><%= link_to "Home",  '#' %></li>
            <li data-testid="nav-link-help"><%= link_to "Help",  '#' %></li>
            <li data-testid="nav-link-log-in"><%= link_to "Log In",  '#' %></li>
          </ul>
        </nav>
      </div>

    </header>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
